.reacg-lightbox {
    .yarl__slide_captions_container {
        padding-top: 0;
        padding-bottom: 0;
        height: 4.5vw;
    }
}

.react-lightbox__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000000;
}

.reacg-lightbox-control-buttons_hidden .yarl__toolbar .yarl__button:not(:last-child) {
    display: none;
}


.reacg-lightbox-captions_top {
    .yarl__slide_captions_container {
        top: 0;
        bottom: unset;
    }
}

.reacg-lightbox-captions_below {
    .yarl__slide {
        margin-bottom: 4.5vw;
    }
}

.reacg-lightbox-captions_above {
    .yarl__slide {
        margin-top: 4.5vw;
    }
}

.reacg-lightbox-captions__title {
    font-size: 1.5vw;
    line-height: 1.5vw;
    margin: 4px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.reacg-lightbox-captions__description {
    font-size: 1.3vw;
    line-height: 1.3vw;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 2px 0 0;
}