:root {
    --yarl__thumbnails_thumbnail_icon_color: #707070
}

.thumnail-gallery__image:hover+.thumbnail-gallery__title_on-hover {
    display: block;
    pointer-events: none;
}

.thumnail-gallery__image_clickable {
    cursor: pointer;
}

.thumbnail-gallery__title_on-hover {
    display: none;
}

.thumbnail-gallery__title_hidden {
    display: none;
}

.thumbnail-gallery__title-content_center {
    text-align: center;
    height: 100%;
}

.content-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 300px;
}