:root {
    --yarl__thumbnails_thumbnail_icon_color: #707070;
    --yarl__thumbnails_thumbnail_icon_filter: none
}

.thumnail-gallery__image_wrapper:hover+.thumbnail-gallery__title_on-hover {
    display: block;
    pointer-events: none;
}

.thumnail-gallery__image-wrapper_clickable,
.thumbnail-gallery__video-icon {
    cursor: pointer;
}

.thumbnail-gallery__title_on-hover {
    display: none;
}

.thumbnail-gallery__title_hidden {
    display: none;
}

.thumbnail-gallery__title-content_center {
    text-align: center;
    height: 100%;
}

.content-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 300px;
}

.thumnail-gallery__image_wrapper {
    position: relative;
}

.thumnail-gallery__image-wrapper_overflow {
    overflow: hidden;
}

/* Zoom out */
.thumnail-gallery__image-wrapper_zoom-out img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.thumnail-gallery__image-wrapper_zoom-out:hover img {
    transform: scale(1.0);
    -webkit-transform: scale(1);
}
/* Zoom in */
.thumnail-gallery__image-wrapper_zoom-in img {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.thumnail-gallery__image-wrapper_zoom-in:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

/* Slide */
.thumnail-gallery__image-wrapper_slide img {
    margin-left: 20px;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.thumnail-gallery__image-wrapper_slide:hover img {
    margin-left: 0;
}

/* Rotate */
.thumnail-gallery__image-wrapper_rotate img {
    -webkit-transform: rotate(15deg) scale(1.3);
    transform: rotate(15deg) scale(1.3);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.thumnail-gallery__image-wrapper_rotate:hover img {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
}

/* Blur */
.thumnail-gallery__image-wrapper_blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.thumnail-gallery__image-wrapper_blur:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
}

/* Gray Scale */
.thumnail-gallery__image-wrapper_scale img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.thumnail-gallery__image-wrapper_scale:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/* Sepia */
.thumnail-gallery__image-wrapper_sepia img {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.thumnail-gallery__image-wrapper_sepia:hover img {
    -webkit-filter: sepia(0);
    filter: sepia(0);
}

/* Black overlay */
.thumnail-gallery__image-wrapper_overlay:hover+.thumbnail-gallery__title>div {
    background: none;
}
.thumnail-gallery__image-wrapper_overlay {
    background: #000000;
}
.thumnail-gallery__image-wrapper_overlay img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.thumnail-gallery__image-wrapper_overlay:hover img {
    opacity: .3;
}

/* Flashing */
.thumnail-gallery__image-wrapper_flash {
    background: #000000;
}

.thumnail-gallery__image-wrapper_flash:hover img {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}
@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

/* Shine */
.thumnail-gallery__image-wrapper_shine {
    position: relative;
}
.thumnail-gallery__image-wrapper_shine::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.thumnail-gallery__image-wrapper_shine:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

/* Circle */
.thumnail-gallery__image-wrapper_circle {
    position: relative;
}
.thumnail-gallery__image-wrapper_circle::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, .2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.thumnail-gallery__image-wrapper_circle:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s;
}
@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}