.alert {
  max-width: 382px;
  padding: 24px;
  border-radius: 12px;
  margin: 0 auto;
  overflow-x: hidden;
  a,
  a:hover,
  a:focus,
  a:active {
    outline: none;
    border: none;
    box-shadow: none;
  }
}

.MuiDialog-container .MuiPaper-root {
  overflow: visible;
}

.MuiDialog-container .MuiPaper-root .modal-close {
  position: absolute;
  right: 0px;
  padding: 15px;
  top: 0;
  color: black;
}

.MuiDialog-container .MuiPaper-root .modal-close:hover {
  background-color: transparent;
}

.MuiDialog-container .MuiPaper-root {
  margin: 0;
}

.template-select__youtube-dialog .MuiPaper-root {
  padding: 32px;
  background-color: black;
  border-radius: 12px;
}

.template-select__youtube-dialog
  .MuiDialog-container
  .MuiPaper-root
  .modal-close {
  color: #ffffff;
}

.MuiDialog-root.MuiModal-root {
  z-index: 10000000;
}

@media screen and (max-width: 620px) {
  .template-select__youtube-dialog iframe {
    width: 100% !important;
  }

  .MuiDialog-container .MuiPaper-root {
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-width: 520px) {
  .MuiDialog-container .MuiPaper-root {
    max-height: 100%;
    height: 100%;
  }
}
