.reacg-gallery .swiper-cube {
  overflow: visible;
}

.reacg-gallery-wrapper__margin-bottom {
  margin-bottom: 32px !important;
}

.reacg-gallery .swiper-cube .swiper-slide img,
.reacg-gallery .swiper-cube .swiper-slide video {
  box-sizing: border-box;
}

.reacg-gallery .swiper-cube .swiper-cube-shadow {
  background: black;
  filter: blur(50px);
}