/* Mui-override */
.MuiSelect-select:focus {
    background-color: unset !important;
}

.LabelWithTooltipIcon {
    cursor: pointer;
}

.SwitchControlLabel {
    font-size: 12px !important;
}

.SwitchControlLabel .LabelWithTooltipIcon {
    font-size: 15px;
}