.gallery__loader {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.gallery__loader--logo {
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
}

.reacg-gallery .gallery__video-icon {
  color: #707070;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  font-size: 60px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
  color: #ffffff;
}
.reacg-gallery .gallery__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
