.gallery__loader {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.gallery__loader--logo {
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
}
