.swiper-gallery__video {
  width: 100%;
  height: 100%;
}
.swiper-button-next {
  color: rgba(0, 0, 0, 0.54);
}

.swiper-button-prev {
  color: rgba(0, 0, 0, 0.54);
}

.swiper-container {
  display: flex;
  align-items: center; /* Center slides vertically */
}

.swiper-wrapper {
  display: flex;
  align-items: center; /* Center slides vertically */
}

.custom-width {
  width: var(--custom-width) !important;
}
.default-slide {
  width: auto; /* or any default width */
  height: auto; /* or any default height */
}
