.reacg-gallery-wrapper {
  margin: 0px auto;
  margin-bottom: 32px !important;
  max-width: 100%;
}
.swiper {
  height: 100%;
  width: 100%;
  overflow-x: clip;
  overflow-y: visible;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-3d {
  perspective: 2200px;
}

.swiper-gallery__video {
  width: 100%;
  height: 100%;
}
.swiper-button-next {
  color: hsla(0, 0%, 100%, 0.8);
  width: 60px;
  height: 60px;
}

.swiper-button-prev {
  color: hsla(0, 0%, 100%, 0.8);
  width: 60px;
  height: 60px;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  font-size: 26px;

  font-weight: bolder;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 26px;

  font-weight: bolder;
}

.swiper-button-next:hover {
  color: #fff;
}

.swiper-button-prev:hover {
  color: #fff;
}

.swiper-container {
  display: flex;
  align-items: center; /* Center slides vertically */
}

.swiper-wrapper {
  display: flex;
  align-items: center; /* Center slides vertically */
}

.custom-width {
  width: var(--custom-width) !important;
}
.default-slide {
  width: auto; /* or any default width */
  height: auto; /* or any default height */
}
