.reacg-gallery .swiper-coverflow {
  box-sizing: border-box;
}

.reacg-gallery .swiper-button-prev,
.reacg-gallery .swiper-button-next {
  background: none;
}

.reacg-gallery .autoplay-progress {
  --swiper-theme-color: hsla(0, 0%, 100%, 0.8);
  position: absolute;
  bottom: 0;
  right: 16px;
  z-index: 10;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.reacg-gallery .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.reacg-gallery
  swiper-pagination
  swiper-pagination-bullets
  swiper-pagination-horizontal {
  margin-top: 55px;
}

.reacg-gallery .lazy-load-image-background {
  width: 100%;
  height: 100%;
}

.reacg-gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reacg-gallery button.playPauseButton {
  color: hsla(0, 0%, 100%, 0.8);
  position: absolute;
  height: 40px;
  width: 40px;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  z-index: 100;
}

.reacg-gallery button.playPauseButton:hover {
  color: #fff;
  background-color: transparent;
}

.reacg-gallery button.playPauseButton > * {
  width: 50px;
  height: 50px;
}
