.App {
  text-align: center;
}

.notistack-SnackbarContainer {
  margin-top: 20px;
}

#reacg-loadAppContainer {
  display: none
}

.reacg-gallery-wrapper .MuiImageListItemBar-root,
.reacg-gallery-wrapper .MuiButtonBase-root {
  font-family: inherit !important;
}

.reacg-gallery-wrapper .MuiGrid-container:has(> div:empty) {
  margin: 0 !important;
}

.reacg-gallery .content-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

:root {
  --yarl__thumbnails_thumbnail_icon_color: #707070;
  --yarl__thumbnails_thumbnail_icon_filter: none
}