.App {
  text-align: center;
}

.notistack-SnackbarContainer {
  margin-top: 20px;
}

#reacg-loadAppContainer {
  display: none;
}

.reacg-gallery-wrapper .MuiImageListItemBar-root,
.reacg-gallery-wrapper .MuiButtonBase-root {
  font-family: inherit !important;
}

.reacg-gallery-wrapper.reacg-gallery-wrapper--protected {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.reacg-gallery-wrapper .MuiGrid-container:has(> div:empty) {
  margin: 0 !important;
}

.reacg-gallery .content-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.reacg-gallery .reacg-gallery__text-background-top-gradient > div,
.reacg-slideshow-gallery__text-background-top-gradient
  .yarl__slide_description {
  background-image: linear-gradient(to bottom, #00000080, #0000);
}
.reacg-gallery .reacg-gallery__text-background-bottom-gradient > div,
.reacg-slideshow-gallery__text-background-bottom-gradient
  .yarl__slide_description {
  background-image: linear-gradient(to top, #00000080, #0000);
}
.reacg-gallery .reacg-gallery__text-background-center-gradient > div,
.reacg-slideshow-gallery__text-background-center-gradient
  .yarl__slide_description {
  background-image: linear-gradient(
    to bottom,
    #0000 0%,
    #00000080 50%,
    #0000 100%
  );
}

:root {
  --yarl__thumbnails_thumbnail_icon_color: #707070;
  --yarl__thumbnails_thumbnail_icon_filter: none;
}
