.reacg-settings {
    box-shadow: unset !important;

    .type-option {
        cursor: pointer;
    }

    .type-option__title {
        margin: 2px 0 0;
        font-weight: bold;
    }

    .type-option__image {
        width: 140px;
        height: 100px;
        border-radius: 2px;
    }

    .type-option__image-container {
        margin: 5px;
    }
}

.options-panel_header,
.type-panel_header {
    margin: 15px 20px !important
}

.options-panel_body-button {
    margin: 5px 5px !important;
    text-transform: none !important;
}

.reacg-tab-panel {
    padding: 15px 5px !important;
}