.reacg-settings {
  box-shadow: unset !important;

  .type-option__wrapper {
    max-width: 980px;
    margin-top: 10px;
  }

  .type-option {
    cursor: pointer;
    width: 12%;
  }

  .type-option__title {
    margin-bottom: 10px;
    font-weight: bold;
    color: #85a3b8;
    overflow-wrap: normal;
  }

  .type-option__active .type-option__title {
    color: #155c92;
  }

  .type-option__image-container {
    margin: 0 12px;
  }

  .type-option__image-container svg {
    width: 100%;
    height: 100%;
  }

  .type-option__active .type-option__image-container svg path {
    fill: #155c92;
  }

  .type-option__image-container svg path {
    fill: #85a3b8;
  }
}

.options-panel_body-button {
  margin: 5px 5px !important;
  text-transform: none !important;
  .MuiLoadingButton-loadingIndicatorCenter {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.reacg-tab-panel {
  padding: 15px 5px !important;
}

.type-panel-select__body {
  display: flex;
  align-items: center;
  width: 100%;
  svg {
    width: 30px;
    height: 30px;
    max-width: 100%;
  }
}
.reacg-settings-panel {
  flex-direction: row;
}
.reacg-settings-panel__buttons {
  flex-direction: row;
}
.reacg-templates-select__container {
  width: 200px;
  margin: 0 5px;
  scroll-margin: 50px;
}

.reacg-settings--m,
.reacg-settings--s,
.reacg-settings--xs {
  .reacg-settings-panel {
    flex-direction: column-reverse;
  }
  .type-option__title {
    font-size: 0.7rem;
  }
}

.reacg-settings--s,
.reacg-settings--xs {
  .reacg-templates-select__container {
    width: unset;
    margin: 5px;
  }
  .reacg-settings-panel__buttons {
    flex-direction: column;
  }
  .type-option__wrapper .type-option__title {
    font-size: 0.6rem;
  }
}

.reacg-settings--xs {
  .reacg-settings-panel-tabs {
    button {
      min-width: unset;
      font-size: 0.6rem;
    }
    .MuiTab-iconWrapper {
      font-size: 13px;
      margin-right: 2px;
    }
  }
  .reacg-section__body {
    .MuiGrid-container {
      flex-direction: column;
    }
    .MuiGrid-item {
      max-width: 100%;
    }
    .MuiGrid-container .MuiGrid-container .MuiGrid-item {
      max-width: calc(100% - 64px);
    }
    .MuiGrid-container
      .MuiGrid-container.reacg-section__container-inherit
      .MuiGrid-item {
      max-width: 100%;
    }
    .MuiGrid-container
      .MuiGrid-container
      .MuiGrid-container.reacg-section__container-inherit {
      width: calc(100% - 64px);
      margin-top: 16px;
    }
  }
}

.type-panel-select__image {
  width: 30px;
  height: auto;
  border-radius: 2px;
  max-width: 100%;
}

.type-panel-select__title {
  margin-left: 10px !important;
  font-weight: bold !important;
  color: #85a3b8 !important;
  font-size: 1.2rem !important;
}
.Mui-selected svg path,
.MuiSelect-outlined svg path {
  fill: #155c92 !important;
}
.Mui-selected .type-panel-select__title,
.MuiSelect-outlined .type-panel-select__title {
  color: #155c92 !important;
}

.reacg-section__body {
  .reacg-section__header {
    background: linear-gradient(to top, #ffffff, #f5f5f5);
    border-radius: 4px;
    box-shadow: 0px 14px 10px -10px #ccc;
  }
  .reacg-section__container-inherit {
    width: calc(100% - 32px);
    margin-left: 32px;
    border: 1px solid #eee;
    border-radius: 0 0 4px 4px;
    border-top: none;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-top: 16px;
    background: linear-gradient(to bottom, #ffffff, #fafafa);
  }
  .reacg-section__container-inherit .MuiInput-input {
    background: transparent;
  }
  .reacg-section__container-inherit .MuiGrid-item {
    padding-left: 16px;
    padding-right: 16px;
  }
}

ul.MuiMenu-list .reacg-templates-list-option {
  margin-left: 10px;
}

ul.MuiMenu-list .reacg-templates-list-option-group {
  opacity: 1;
  color: #2271b1;
  font-weight: bold;
}
