.re-image__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.re-image__wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.re-image__wrapper img.re-image_loaded {
    opacity: 1;
}

.re-iamge__placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ccc;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}