.re-image__wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.re-image {
  flex: 0 0 auto;
  max-width: min(var(--re-image-original-width, 100%), 100%) !important;
  max-height: min(var(--re-image-original-height, 100%), 100%) !important;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.re-image_portrait {
  width: 100% !important;
  height: auto !important;
}

.re-image_landscape {
  width: auto !important;
  height: 100% !important;
}

.re-image__wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.re-image__wrapper .re-image_loaded {
  opacity: 1;
}

.re-image__placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  animation: pulse 1.5s infinite;
  z-index: 1;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
