.reacg-gallery .slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reacg-gallery .slider__layout {
  display: flex;
  justify-content: center;
  align-items: end;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}
.reacg-gallery .slider__main-swiper.swiper,
.reacg-gallery .slider__thumbs-swiper.swiper {
  margin-left: 0;
  margin-right: 0;
}
.reacg-gallery .slider__main-swiper {
  max-width: 100%;
}
.reacg-gallery .slider__main-swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.reacg-gallery .slider__slide-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* SLIDER THUMBS  */
.reacg-gallery .slider__thumbs {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
.reacg-gallery .slider__thumbs-swiper {
  width: 100%;
  height: 100%;
}

.reacg-gallery .slider__thumbs-swiper .swiper-slide {
  height: auto;
  opacity: 0.4;
  width: auto;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.reacg-gallery .slider__thumbs-swiper .swiper-slide-thumb-active {
  opacity: 1;
}
.reacg-gallery .slider__thumb-content {
  overflow: 'hidden';
}
.reacg-gallery .slider__thumbs-swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SLIDER BUTTONS  */
.reacg-gallery button.slider__play-pause {
  color: hsla(0, 0%, 100%, 0.8);
  position: absolute;
  height: 40px;
  width: 40px;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  z-index: 100;
}

.reacg-gallery button.slider__play-pause:hover {
  color: #fff;
  background-color: transparent;
}

.reacg-gallery button.slider__play-pause > * {
  width: 50px;
  height: 50px;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.reacg-gallery .slider__main-swiper:hover {
  .swiper-button-prev,
  .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
.swiper-button-prev {
  transform: translateX(50px);
}
.swiper-button-next {
  transform: translateX(-50px);
}
/* SLIDE TEXT  */

.reacg-gallery .slider__slide-text-container {
  width: 100%;
  padding: 10px 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 2;
}
