.reacg-gallery .slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reacg-gallery .slider__layout {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

/* MAIN SWIPER WRAPPER */

.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .swiper-overflow-visible
  .swiper-wrapper {
  overflow: hidden;
}

.reacg-gallery .slider__layout .slider__main-swiper--wrapper {
  max-width: 100%;
  max-height: 100%;
  min-width: 10px;
  width: 100%;
}
.reacg-gallery .slider__main-swiper--wrapper.slider__shadow--drop {
  box-shadow: 0px 25px 20px -12px var(--slider-shadow-color, rgba(0, 0, 0, 0.15));
}

.reacg-gallery .slider__main-swiper--wrapper.slider__shadow--left {
  box-shadow: -18px 18px 20px 0px
    var(--slider-shadow-color, rgba(0, 0, 0, 0.15));
}

.reacg-gallery .slider__main-swiper--wrapper.slider__shadow--right {
  box-shadow: 18px 18px 20px 0px var(--slider-shadow-color, rgba(0, 0, 0, 0.15));
}

.reacg-gallery .slider__main-swiper--wrapper.slider__shadow--float {
  box-shadow: 0 20px 40px -10px var(--slider-shadow-color, rgba(0, 0, 0, 0.3));
}

.reacg-gallery .slider__main-swiper--wrapper.slider__shadow--glow {
  box-shadow: 0 0 30px 10px var(--slider-shadow-color, rgba(0, 0, 0, 0.3));
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper.slider__shadow--sinema::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-image: url('../../images/dark-shadow.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
  transform: translateY(100%);
  z-index: 1;
  background-size: 100% 100%;
}
.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper.slider__shadow--sinema {
  position: relative;
}

.reacg-gallery .slider__main-swiper.swiper,
.reacg-gallery .slider__thumbs-swiper.swiper {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
}

.reacg-gallery .slider__main-swiper {
  max-width: 100%;
  max-height: 100%;
}

.reacg-gallery .slider__main-swiper.swiper {
  height: var(--slider__height-with-text-height);
}
.reacg-gallery .slider__layout .slider__main-swiper.swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reacg-gallery .slider__slide-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: var(--slider__slide-padding);
}

.reacg-gallery .slider__main-swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* SLIDER THUMBS  */

.reacg-gallery .slider__layout--thumbnail-hover .slider__thumbs {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

/* Show pagination on hover of slider layout */
.reacg-gallery .slider__layout--thumbnail-hover:hover .slider__thumbs {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.reacg-gallery .slider__thumbs {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  background: var(--slider-thumbs-bar-bg, transparent);
  opacity: var(--slider-thumbs-bar-opacity, 1);
  padding: var(--slider-thumbs-bar-padding, 0);
  border: var(--slider-thumbs-bar-border, none);
  border-radius: var(--slider-thumbs-bar-radius, 0);
}
.reacg-gallery .slider__thumbs-swiper {
  width: 100%;
  height: 100%;
}
.reacg-gallery .slider__thumbs .slider__thumb {
  display: flex;
}

.reacg-gallery
  .slider__thumbs
  .swiper-horizontal
  > .swiper-wrapper
  .slider__thumb {
  flex-direction: column;
}

.reacg-gallery
  .slider__thumbs
  .swiper-horizontal
  > .swiper-wrapper
  .slider__thumb
  .slider__slide-text-container {
  max-width: var(--slider-thumb-width);
}

.reacg-gallery
  .slider__thumbs
  .swiper-vertical
  > .swiper-wrapper
  .slider__thumb {
  flex-direction: row;
}

.reacg-gallery
  .slider__thumbs
  .swiper-vertical
  > .swiper-wrapper
  .slider__thumb
  .slider__slide-text-container {
  max-height: var(--slider-thumb-height);
  max-width: var(--slider-thumb-width);
}

.slider__thumb-content {
  width: var(--slider-thumb-width);
  height: var(--slider-thumb-height);
  padding: var(--slider-thumb-padding);
  border-radius: var(--slider-thumb-radius);
  border: var(--slider-thumb-border);
  background: var(--slider-thumb-bg);
  flex-shrink: 0;
  transition: all 0.3s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider__thumbs .swiper-horizontal .swiper-slide {
  margin-right: var(--slider-thumb-margin);
}

/* .swiper-horizontal.swiper-slide:first-child {
  margin-left: 0 !important;
} */
.slider__thumbs .swiper-horizontal .slider__thumb.swiper-slide-thumb-active {
  margin-right: var(--slider-thumb-active-margin);
}

.slider__thumbs .swiper-vertical .swiper-slide {
  margin-bottom: var(--slider-thumb-margin);
}

/* .swiper-vertical.swiper-slide:first-child {
  margin-top:  var(--slider-thumb-margin) !important;
} */
.slider__thumbs .swiper-vertical .slider__thumb.swiper-slide-thumb-active {
  margin-bottom: var(--slider-thumb-active-margin);
}

/* ✅ ACTIVE THUMB (this is the key) */
.slider__thumb.swiper-slide-thumb-active .slider__thumb-content {
  width: var(--slider-thumb-active-width);
  height: var(--slider-thumb-active-height);
  padding: var(--slider-thumb-active-padding);
  border-radius: var(--slider-thumb-active-radius);
  border: var(--slider-thumb-active-border);
  background: var(--slider-thumb-active-bg);
}
.reacg-gallery .slider__thumbs .slider__thumb {
  opacity: var(--slider-thumb-opacity);
}
.reacg-gallery .slider__thumbs .slider__thumb:hover {
  opacity: var(--slider-thumb-active-opacity);
}
.reacg-gallery .slider__thumbs .slider__thumb.swiper-slide-thumb-active {
  opacity: var(--slider-thumb-active-opacity);
}

.reacg-gallery .slider__thumbs-swiper .swiper-slide {
  height: auto;
  width: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}

.reacg-gallery .slider__thumb-content {
  overflow: hidden;
}
.reacg-gallery .slider__thumbs-swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SLIDER BUTTONS  */
.reacg-gallery button.slider__play-pause {
  color: hsla(0, 0%, 100%, 0.8);
  position: absolute;
  height: 40px;
  width: 40px;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  z-index: 100;
}

.reacg-gallery button.slider__play-pause:hover {
  color: #fff;
  background-color: transparent;
}

.reacg-gallery button.slider__play-pause > * {
  width: 50px;
  height: 50px;
}

/* .swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.reacg-gallery .slider__main-swiper:hover {
  .swiper-button-prev,
  .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
.swiper-button-prev {
  transform: translateX(50px);
}
.swiper-button-next {
  transform: translateX(-50px);
} */
/* SLIDE TEXT  */

.reacg-gallery .slider__slide-text-container {
  width: 100%;
  padding: 10px 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 2;
  background-color: var(--slider__slide-text-bg-color);
  color: var(--slider__slide-text-color);
}
.reacg-gallery .slider__slide-text-container .slider__slide-caption {
  color: var(--slider__slide-caption-color);
}

.reacg-gallery .slider__slide-text-container .slider__slide-description {
  color: var(--slider__slide-description-color);
}
/* PAGINATION */

.reacg-gallery .slider__layout--pagination-hover .swiper-pagination {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

/* Show pagination on hover of slider layout */
.reacg-gallery .slider__layout--pagination-hover:hover .swiper-pagination {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.reacg-gallery .slider__layout .swiper-pagination .swiper-pagination-bullet {
  opacity: 1 !important;
  background-color: var(--slider-pagination-bullet-bg);
}
.reacg-gallery
  .slider__layout
  .slider__main-swiper
  .swiper-pagination
  .swiper-pagination-bullet-active,
.reacg-gallery
  .slider__layout
  .slider__pagination-external.slider-pagination
  .swiper-pagination-bullet-active {
  background-color: var(--slider-pagination-active-bullet-bg);
  width: var(--slider-pagination-active-bullet-size, 21px);
  height: var(--slider-pagination-active-bullet-size, 21px);
  border: var(--slider-pagination-active-bullet-border) solid;
  border-color: var(--slider-pagination-active-bullet-border-color);
  border-radius: var(--slider-pagination-active-bullet-border-radius);
}
.reacg-gallery .slider__layout .slider__main-swiper .swiper-pagination-bullet,
.reacg-gallery
  .slider__layout
  .slider__pagination-external
  .swiper-pagination-bullet {
  background-color: var(--slider-pagination-bullet-bg);
  width: var(--slider-pagination-bullet-size, 21px);
  height: var(--slider-pagination-bullet-size, 21px);
  border: var(--slider-pagination-bullet-border) solid;
  border-color: var(--slider-pagination-bullet-border-color);
  border-radius: var(--slider-pagination-bullet-border-radius);
  margin: 0 4px;
  opacity: 1 !important;
  overflow: hidden;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper
  .swiper-pagination.swiper-pagination-fraction,
.reacg-gallery
  .slider__layout
  .slider__pagination-external.slider-pagination.swiper-pagination-fraction {
  color: var(--slider-pagination-fraction-color);
  font-size: var(--slider-pagination-fraction-font-size);
  font-family: var(--slider-pagination-fraction-font-family);
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper
  .swiper-pagination
  .swiper-pagination-bullet.slider__pagination-number,
.reacg-gallery
  .slider__layout
  .slider__pagination-external
  .swiper-pagination-bullet.slider__pagination-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--slider-pagination-fraction-font-family);
  font-size: var(--slider-pagination-fraction-font-size);
  color: var(--slider-pagination-fraction-color);
}

.slider__pagination-external {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  width: 100%;
}
/* ---------------- TOP ---------------- */
.reacg-gallery
  .slider__layout
  .slider__main-swiper.slider__pagination--top-left
  .swiper-pagination {
  top: 12px;
  left: 12px;
  right: auto;
  bottom: auto;
  width: auto;
  transform: none;
  display: flex;
  align-items: center;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper.slider__pagination--top-center
  .swiper-pagination {
  top: 12px;
  bottom: auto;
  transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper.slider__pagination--top-right
  .swiper-pagination {
  top: 12px;
  right: 12px;
  left: auto;
  bottom: auto;
  width: auto;
  transform: none;
  display: flex;
  align-items: center;
}

/* ---------------- BOTTOM ---------------- */
.reacg-gallery
  .slider__layout
  .slider__main-swiper.slider__pagination--bottom-left
  .swiper-pagination {
  bottom: 12px;
  left: 12px;
  right: auto;
  top: auto;
  width: auto;
  transform: none;
  display: flex;
  align-items: center;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper.slider__pagination--bottom-center
  .swiper-pagination {
  bottom: 12px;
  top: auto;
  transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper.slider__pagination--bottom-right
  .swiper-pagination {
  bottom: 12px;
  right: 12px;
  top: auto;
  left: auto;
  width: auto;
  transform: none;
  display: flex;
  align-items: center;
}

/* ---------------- SIDES (VERTICAL) ---------------- */
.reacg-gallery
  .slider__layout
  .slider__main-swiper.slider__pagination--start
  .swiper-pagination {
  top: 50%;
  left: 12px;
  right: auto;
  bottom: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper.slider__pagination--end
  .swiper-pagination {
  top: 50%;
  right: 12px;
  left: auto;
  bottom: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);
}

/* ---------------- BULLETS ---------------- */
/* horizontal bullets: top/bottom */
.reacg-gallery
  .slider__layout
  .slider__main-swiper.slider__pagination--top-left
  .swiper-pagination-bullet,
.reacg-gallery
  .slider__layout
  .slider__main-swiper.slider__pagination--top-center
  .swiper-pagination-bullet,
.reacg-gallery
  .slider__layout
  .slider__main-swiper.slider__pagination--top-right
  .swiper-pagination-bullet,
.reacg-gallery
  .slider__layout
  .slider__main-swiper.slider__pagination--bottom-left
  .swiper-pagination-bullet,
.reacg-gallery
  .slider__layout
  .slider__main-swiper.slider__pagination--bottom-center
  .swiper-pagination-bullet,
.reacg-gallery
  .slider__layout
  .slider__main-swiper.slider__pagination--bottom-right
  .swiper-pagination-bullet {
  display: inline-block;
  margin: 0 6px; /* horizontal spacing */
}

/* vertical bullets: start/end */
.reacg-gallery
  .slider__layout
  .slider__main-swiper.slider__pagination--start
  .swiper-pagination-bullet,
.reacg-gallery
  .slider__layout
  .slider__main-swiper.slider__pagination--end
  .swiper-pagination-bullet {
  display: block;
  margin: 6px 0; /* vertical spacing */
}
/* vertical Dynamic bullets: start/end */

.reacg-gallery
  .slider__layout
  .slider__main-swiper
  .swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  width: calc(var(--slider-pagination-bullet-size) + 10px);
}

/* NAVIGATION */

.reacg-gallery .slider__navigation {
  position: absolute;
  top: 50%; /* vertically center */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between; /* prev left, next right */
  pointer-events: none; /* container ignores clicks, children receive them */
  z-index: 10;
  transform: translateY(-50%); /* perfect vertical centering */
}

.reacg-gallery .slider__navigation > div {
  pointer-events: auto; /* enable clicks */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  fill: var(--slider__navigation-color);
  background-color: var(--slider__navigation-bg-color);
  transition: all 0.3s ease;
}
.reacg-gallery.slider__navigation > div:not(:last-child) {
  margin-right: 10px;
}

.reacg-gallery .slider__layout .slider__navigation.slider__navigation--hover {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.reacg-gallery
  .slider__layout:hover
  .slider__navigation.slider__navigation--hover {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.reacg-gallery
  .slider__layout
  .slider__navigation.slider__navigation-buttons--hover
  .slider__button-prev:hover,
.reacg-gallery
  .slider__layout
  .slider__navigation.slider__navigation-buttons--hover
  .slider__button-next:hover {
  fill: var(--slider__navigation-color-hover);
  background-color: var(--slider__navigation-bg-hover);
}

/* NAVIGATION POSITION*/
.reacg-gallery .slider__layout .slider__navigation--top {
  top: 0;
  transform: 0;
  transform: translateY(0);
  margin-top: 10px;
}

.reacg-gallery .slider__layout .slider__navigation--bottom {
  top: auto;
  bottom: 0;
  transform: translateY(0);
  margin-bottom: 10px;
}

.reacg-gallery .slider__layout .slider__navigation--center-left {
  left: 0;
  right: auto;
  justify-content: flex-start;
}

.reacg-gallery .slider__layout .slider__navigation--center-right {
  left: auto;
  right: 0;
  justify-content: flex-end;
}

.reacg-gallery .slider__layout .slider__navigation--center-center {
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
  justify-content: center;
}

.reacg-gallery .slider__layout .slider__navigation--top-left {
  left: 0;
  top: 0;
  right: auto;
  transform: translateY(0);
  margin-top: 10px;
  justify-content: flex-start;
}

.reacg-gallery .slider__layout .slider__navigation--top-right {
  left: auto;
  top: 0;
  right: 0;
  transform: translateY(0);
  margin-top: 10px;
  justify-content: flex-end;
}

.reacg-gallery .slider__layout .slider__navigation--top-center {
  left: 50%;
  top: 0;
  right: auto;
  transform: translateX(-50%);
  margin-top: 10px;
  justify-content: center;
}

.reacg-gallery .slider__layout .slider__navigation--bottom-left {
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  transform: translateY(0);
  margin-bottom: 10px;
  justify-content: flex-start;
}

.reacg-gallery .slider__layout .slider__navigation--bottom-right {
  left: auto;
  bottom: 0;
  right: 0;
  top: auto;
  transform: translateY(0);
  margin-bottom: 10px;
  justify-content: flex-end;
  width: 100%;
}

.reacg-gallery .slider__layout .slider__navigation--bottom-center {
  left: 50%;
  bottom: 0;
  right: auto;
  top: auto;
  transform: translateX(-50%);
  margin-bottom: 10px;
  justify-content: center;
}

.reacg-gallery .slider__layout .slider__navigation--out-bottom-left {
  position: relative;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  transform: translateY(0);
  margin-top: 10px;
  justify-content: flex-start;
}

.reacg-gallery .slider__layout .slider__navigation--out-bottom-right {
  position: relative;
  left: auto;
  bottom: 0;
  right: 0;
  top: auto;
  transform: translateY(0);
  margin-top: 10px;
  justify-content: flex-end;
}

.reacg-gallery .slider__layout .slider__navigation--out-bottom-center {
  position: relative;
  left: 50%;
  bottom: 0;
  right: auto;
  top: auto;
  transform: translateX(-50%);
  margin-top: 10px;
  justify-content: center;
}

.reacg-gallery .slider__layout .slider__navigation--out-top-left {
  position: relative;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  transform: translateY(0);
  margin-bottom: 10px;
  justify-content: flex-start;
}

.reacg-gallery .slider__layout .slider__navigation--out-top-right {
  position: relative;
  left: auto;
  bottom: 0;
  right: 0;
  top: auto;
  transform: translateY(0);
  margin-bottom: 10px;
  justify-content: flex-end;
  width: 100%;
}

.reacg-gallery .slider__layout .slider__navigation--out-top-center {
  position: relative;
  left: 50%;
  bottom: 0;
  right: auto;
  top: auto;
  transform: translateX(-50%);
  margin-bottom: 10px;
  justify-content: center;
}

.reacg-gallery .slider__slide-load-logo {
  position: absolute;
  z-index: 111;
}

/* BUTTON */
.reacg-gallery .slider__slide-button {
  padding: 8px 25px;
  transition: all 0.5s ease;
}

.reacg-gallery .slider__slide-button:hover {
  filter: brightness(1.1);
}

/* AUTOPLAY CIRCLE PROGRESS */
.slider__autoplay-circle-progress {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 10;
}

.slider__autoplay-circle-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--slider__autoplay-circle-progress-color);
  fill: none;
  stroke-dasharray: 125.6; /* 2 * π * r (2 * 3.14 * 20) */
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  transform: rotate(-90deg);
  z-index: 10;
}

.slider__autoplay-line-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px; /* thickness of the progress bar */
  background: rgba(255, 255, 255, 0.2); /* track color */
  z-index: 10;
}

.slider__autoplay-line-fill {
  --progress: 1;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear; /* smooth shrink effect */
  background-color: var(--slider__autoplay-line-progress-color);
}
/* TEMPLATE 1 Animal 1 

.reacg-gallery .slider__main-swiper.swiper {
  width: calc(100% - var(--slider__template-total) - 20px);
  margin: auto;
  transition: all 0.3s;
  height: var(--slider__height-with-text-height);
}

.reacg-gallery .slider__navigation > div {
  margin-right: 0;
  margin-left: 0;
}

.reacg-gallery .slider__layout .slider__navigation--out-top-left {
  position: absolute;
  justify-content: space-between;
  width: 100%;
  top: 50%;
}

.reacg-gallery .slider__layout {
  position: relative;
}

.reacg-gallery
  .slider__layout
  .slider__navigation.slider__navigation-buttons--hover
  .slider__button-next
  svg {
  transition: all 0.3s ease;
  left: -20px;
  position: relative;
}

.reacg-gallery
  .slider__navigation.slider__navigation-buttons--hover
  .slider__button-next
  svg {
  position: relative;
  left: -20px;
  transition: left 0.3s ease;
}

.reacg-gallery
  .slider__navigation.slider__navigation-buttons--hover
  .slider__button-prev
  svg {
  position: relative;
  right: -20px;
  transition: right 0.3s ease;
}

.reacg-gallery
  .slider__navigation.slider__navigation-buttons--hover
  .slider__button-next:hover
  svg {
  left: 0;
}

.reacg-gallery
  .slider__navigation.slider__navigation-buttons--hover
  .slider__button-prev:hover
  svg {
  right: 0;
}
.reacg-gallery
  .slider__layout
  .slider__navigation.slider__navigation-buttons--hover
  .slider__button-prev,
.reacg-gallery
  .slider__layout
  .slider__navigation.slider__navigation-buttons--hover
  .slider__button-next {
  transition: all 0.3 ease;
}

.reacg-gallery
  .slider__layout
  .slider__pagination-external{
    width: calc(100% - var(--slider__template-total) - 20px);
  }
.reacg-gallery
  .slider__layout
  .slider__pagination-external
  .swiper-pagination-bullet {
  width: 50px !important;
  height: 8px !important;
}

.slider__slide-text-container {
  left: 0 !important;
  width: unset !important;
}
@media screen and (max-width: 1140px) {
  .reacg-gallery .slider__main-swiper.swiper {
    width: 100%;
  }
  .reacg-gallery .slider__navigation > div {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .reacg-gallery .slider__navigation > div {
    display: none;
  }
}


width:no limit;
height:no limit'

thumbs:none;


NAV
navigatin:true;
nav show onHOver :no;
nav type :thin straight;
position:out-top-left;
size:36px;
padding:11px;
opacity:1;
border-color:white;
color:white;
border-radius max;
color:white;
bacground hover color rgba(1, 1, 21, 0.65);
bg color #d48931;
hover:true


Pagination

default;
position :bottom center
border:0
size 10
border radius 0
bg color #d48931;
active rgba(1, 1, 21, 0.65)

Advanced

direction:horizontal !important;
animation:all good
slide duration 800?
keyboard true;
slides desing all good


Texts


texts color :white
caption color :white;
text bg color none  or rgba(212, 137, 49, 0.51)

title 1.3
desc 1.1

shadow :none
*/

/* TEMPLATE  2 Product Slider 1 
.reacg-gallery .slider__main-swiper.swiper {
  height: var(--slider__height-without-text-height);
}
.reacg-gallery .slider__layout .slider__main-swiper.swiper .swiper-slide {
  flex-direction: row-reverse;
}

.reacg-gallery .slider__slide-content {
  height: 100% !important;
  width: 50%;
}
.reacg-gallery .slider__slide-text-container {
  width: 50%;
  padding: 40px;
}
.reacg-gallery .slider__main-swiper--wrapper {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 1px;
}
.reacg-gallery .slider__slide_text-wrapper[data-swiper-parallax] {
  transform: none !important;
  transition: none !important;
}
.reacg-gallery .slider__slide-description {
  margin-top: 10px;
  line-height: 1.8 !important;
}
.reacg-gallery .slider__slide-caption {
  margin-left: 35px !important;
}
.reacg-gallery .slider__slide-title {
  color: #383f45 !important;
}
.reacg-gallery .slider__slide-button {
  margin-top: 18px;
}

.reacg-gallery
  .slider__layout
  .slider__pagination-external
  .swiper-pagination-bullet {
  width: 24px !important;
  height: 4px !important;
}

@media screen and (max-width: 768px) {
  .reacg-gallery .slider__layout .slider__main-swiper.swiper .swiper-slide {
    flex-direction: column-reverse;
  }
  .reacg-gallery .slider__slide-text-container {
    width: 100%;
    padding: 20px 10px 20px 10px;
  }
  .reacg-gallery .slider__slide-content {
    width: 100%;
  }
  .reacg-gallery .slider__main-swiper.swiper {
    height: var(--slider__height-with-text-height);
  }
  .reacg-gallery .slider__layout .slider__navigation {
    display: none;
  }
}

width:no limit;
height:no limit'

thumbs:none;


NAV
navigatin:true;
nav show onHOver :no;
nav type :angle;
position:bottom-left;
size:26px;
padding:16px;
opacity:1;
border-color:#ffffff;
color:white;
border-radius 3;
color:white;
bacground hover color #6e43bf;
bg color RGBA(255,255,255,0.19);
hover:true


Pagination

default;
position : outside  bottom
border:0
size 10
border radius 0
bg-color RGBA(110,67,191,0.2),
border-0
active bg color #5e39a5
Advanced

direction:all;
animation:not creative and not zoom or with some changes ...
slide duration 800?
keyboard true;
slides desing fill ,blur fit


Texts
show all
alinment left
position - above,
texts color :#808b95
caption color :#6e43bf;
text bg color none;

title 1.5
caption 1.1
desc 0.9
max row 4

button - Buy Now
button alingment left 
button font size 16
button bg color color #6e43bf

button color# #ffffff

shadow :none
*/

/* TEMPLATE 3 Full Screen Hero Interaction with absalute thumbs 

width:no limit;
height:no limit'
Thumbs
thumbs:true;
position bottom

NAV
navigatin:true;
nav show onHOver :no;
nav type :thin sright;
position:bottom-left;
size:19px;
padding:12px;
opacity:1;
color:white;
border-radius max;
color:white;
bacground hover color white;
bg color rgba(43, 43, 43, 0.72);
color on hover -black
hover:true


Pagination

Fraction;
position : top right
border:0
Font-size - 25;
color white
Font family MICHROMAa
Advanced

direction:all;
animation:FADE,SLIDE,CREATIVE
slide duration 800?
keyboard false;
mousevel:true;
slides desing fill ,blur fit;


Texts
only Title
Font size max
position center
Font Famili MICROMA
shadow :???

.reacg-gallery .slider__layout {
  position: relative;
}
.reacg-gallery .slider__layout .slider__navigation--bottom-left {
  bottom: 4%;
}
.reacg-gallery .slider__navigation > div {
  margin-right: 0;
}
.slider__main-swiper--wrapper {
  position: relative;
}
.reacg-gallery .slider__thumbs {
  position: absolute;
  bottom: 4%;
  right: 0;
  width: 50% !important;
}

@media screen and (max-width: 768px) {
  .reacg-gallery .slider__thumbs {
    position: absolute;
    bottom: 4%;
    right: 0;
    width: 100% !important;
  }
  .reacg-gallery .slider__layout .slider__navigation {
    display: none;
  }
}
*/

/* TEMPLATE 4 Garden + Thumbs

width:no limit 1212 ;
height:no limit' 700


Thumbs
thumbs:true;
position bottom
width all 300 
height all  160
gap 3 
active opacity 1 
opacity 0.35

Thumbs Text
show title:true
alignmente ;center
font family Lora
text bg #A3E4AB
text color white

NAV
navigatin:noo;



Pagination

pagination:no

direction:all;
in small animation duration all good but in more good fade
keyboard true;

slides desing fill ,blur fit;


Texts
all
bg color rgba(0, 0, 0, 0.35)
color white
Titel Font size 1.6
position center
Font Famili Lora
caption font size 2.4
descripption font size 0.9 max row 2
button text color #FFFFFF bg color  #A3E4AB
caption color === descrption color === frame === #A3E4AB




.reacg-gallery .slider__main-swiper .slider__slide-text-container {
  max-width: 520px;
}
.reacg-gallery .slider__slide-text-container {
  background-color: unset !important;
}
.reacg-gallery .slider__slide_text-wrapper {
  background-color: var(--slider__slide-text-bg-color);
}
.reacg-gallery .slider__main-swiper .slider__slide_text-wrapper {
  box-shadow: 0px 1px 10px 0px RGBA(0, 0, 0, 0.15);
  padding: 40px 20px 40px 20px;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.reacg-gallery
  .slider__main-swiper
  .swiper-slide-active
  .slider__slide_text-wrapper {
  animation: slideTextReveal 0.8s ease forwards;
  opacity: 1;
  gap: 30px !important;
}
.reacg-gallery .slider__main-swiper .slider__slide_text-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  padding: 10px;
  box-sizing: border-box;
  clip-path: inset(0);
  outline: 2px solid var(--slider__slide-caption-color);
  outline-offset: -10px;
  opacity: 0;
}
.reacg-gallery .slider__thumb-content .slider__slide-text-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  clip-path: inset(0);
  outline: 2px solid var(--slider__slide-text-bg-color);
  outline-offset: -10px;
}
.reacg-gallery
  .slider__main-swiper
  .swiper-slide-active
  .slider__slide_text-wrapper::before {
  animation: outlinePop 0.8s ease forwards;
  animation-delay: 0.8s;
}

@keyframes outlinePop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideTextReveal {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.reacg-gallery
  .slider__main-swiper
  .swiper-slide-active
  .slider__slide-caption {
  opacity: 0;
  animation: textSlideUp 0.6s ease forwards;
  animation-delay: 0.8s;
}

.reacg-gallery
  .slider__main-swiper
  .swiper-slide-active
  .slider__slide-title
  > span:first-child {
  opacity: 0;
  animation: textSlideUp 0.6s ease forwards;
  animation-delay: 1s;
}
.reacg-gallery
  .slider__main-swiper
  .swiper-slide-active
  .slider__slide-description {
  opacity: 0;
  color: var(--slider__slide-description-color);
  animation: textSlideUp 0.6s ease forwards;
  animation-delay: 1.2s;
}

.reacg-gallery .slider__main-swiper .slider__slide-button {
  opacity: 0;
  visibility: hidden;
}

.reacg-gallery .slider__main-swiper .swiper-slide-active .slider__slide-button {
  visibility: visible;
  animation: textSlideUp 0.6s ease forwards;
  animation-delay: 1.4s;
}

@keyframes textSlideUp {
  from {
    opacity: 0;
    transform: translate3d(0px, -10px, 0px);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.reacg-gallery .slider__thumb-content .slider__slide-text-container {
  display: flex;
  justify-content: center;
}
.reacg-gallery
  .slider__thumb-content
  .slider__slide-text-container
  .slider__slide_text-wrapper {
  max-width: 50%;
  opacity: 1;
  padding: 12px 20px 12px 20px;
}

.reacg-gallery .slider__main-swiper .slider__slide-title {
  display: flex;
  flex-direction: column;
}
.reacg-gallery .slider__main-swiper .slider__slide-title span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reacg-gallery
  .slider__main-swiper
  .slider__slide-title
  .slider__slide-caption {
  order: -1;
}
*/
/* TEMPLATE 5 Vertical Thumbs + title,desc

width:no limit 1200 ;
height:no limit' 500;
autoplay:true;
timeInterval:8000;
playPause:true;
bgColor:#242424;
loop:all;


Text Main : no

Thumbs
thumbs:true;
position end
width all 120 
height all  60
gap 15
active opacity 1 
opacity 0.25
thumbnails bar gap:3;
thumbnails bar bg color:#242424;


Thumbs Text
show title:true
show descr:true
alignmente ;left
font family Montserrat
text color rgba(255, 255, 255, 0.8)
desc max row count 2 
font size:unset 16px title 12 desc
text position:below


NAV
navigatin:noo;



Pagination

pagination:no

direction:all good vertical creative slide ;
keyboard true;
Mausewell:no

slides desing all;
slideDuration:1000


Progers
progres:true
progrestype:line
progrescolor :white


.reacg-gallery
  .slider__thumbs
  .swiper-vertical
  > .swiper-wrapper
  .slider__thumb
  .slider__slide-text-container {
  width: 220px;
  max-width: unset;
}
 .slider__thumbs .swiper-vertical .swiper-slide:first-child {
  margin-top:  var(--slider-thumb-margin) !important;
} 
.reacg-gallery
  .slider__thumb
  .slider__slide-text-container
  .slider__slide-description {
  color: var(--slider__slide-description-color);
  opacity: 0.5;
}
.reacg-gallery
  .slider__thumbs
  .swiper-vertical
  > .swiper-wrapper
  .slider__thumb {
  justify-content: center;
  align-items: center;
}
.reacg-gallery .slider__autoplay-line-progress {
  bottom: 0;
  top: auto;
}

.reacg-gallery button.slider__play-pause {
  height: 40px;
  width: 40px;
  left: auto;
  top: 12px;
  right: 12px;
  background: rgba(0, 0, 0, 0.644);
  border-radius: 4px;
}

.reacg-gallery button.slider__play-pause > svg {
  width: 20px;
  height: 20px;
}
.reacg-gallery button.slider__play-pause:hover,
.reacg-gallery button.slider__play-pause:focus,
.reacg-gallery button.slider__play-pause:active {
  background: rgba(0, 0, 0, 0.644);
  box-shadow: none;
  outline: none;
  transform: none;
}

@media screen and (max-width: 768px) {
  .reacg-gallery .slider__thumbs {
    display: none;
  }
}

*/

/*TEMPLATE 6 Static Testimonial + Thumbs


width:no limit 1200 ;
HEIGHT should be adjusted to the height of the thumbnails:600
autoplay:no;
loop:all;


Text Main 

font text:Raleway
text position top or center;
text color #ecbc00;
text bg color rgba(22, 33, 45, 0.63);
show title:true; 1.9vw center
show desc:true 2.4vw max row 2 color #ffffff

Thumbs
thumbs:true;
position:bottom;
width all 200 
height all  140
gap 90
active opacity 1 
opacity 1
border radius:10
thumbnails bar padding : 45


Thumbs Text
show title:true
show caption:true
alignmente ;center
font family Montserrat
text color #ffffff
caption color :#ecbc00
font size:0.6 title 
font size caption:unset
text position:below


NAV
navigatin:noo;



Pagination

pagination:no

direction:all good maybe no creative no zoom ;
keyboard true;
Mausewell:true

slides desing all;
slideDuration:500


.reacg-gallery
  .slider__main-swiper--wrapper
  .slider__thumbs
  .slider__slide-title {
  display: flex;
  flex-direction: column;
}
.reacg-gallery
  .slider__main-swiper--wrapper
  .slider__thumbs
  .slider__slide-title
  span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reacg-gallery .slider__thumbs {
  position: absolute;
  bottom: 0;
  padding-bottom: 0;
}

.reacg-gallery .slider__layout .slider__main-swiper--wrapper {
  position: relative;
}


.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper {
  position: relative;
  background-image: url('../../images/template_6_testimonial.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide-content
  img {
  visibility: hidden;
  pointer-events: none;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide-content
  > div:first-child {
  display: none !important;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide-load-logo {
  display: none !important;
}
.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide-title::after {
  content: 'WHAT PEOPLE SAY'; 
  color: black;
  transform: none !important;
  transition: none !important;
  background: RGBA(255, 255, 255, 0);
  opacity: 1;
  border: 4px solid var(--slider__slide-text-color);
  color: var(--slider__slide-text-color);
  font-weight: bold;

  padding: 0.3em 0.8em 0.3em 0.8em;
}
.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide-title
  span:first-child {
  display: none;
  transform: none !important;
  transition: none !important;
}
.reacg-gallery .slider__slide_text-wrapper[data-swiper-parallax] {
  transform: none !important;
  transition: none !important;
  -webkit-transform: none !important;
  pointer-events: none;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide_text-wrapper {
  padding-right: 20%;
  padding-left: 20%;
  margin-bottom: 75px;
}
.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide-title {
  padding: 20px;
}

.reacg-gallery
  .slider__thumbs
  .slider__slide-text-container
  .slider__slide-caption {
  margin-left: 0px !important;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper.slider__slide-text-container
  .slider__slide-description {
  line-height: 2;
}


@media (max-width: 768px) {
  .reacg-gallery .slider__thumbs .swiper-slide {
    width: 100%;
  }
  .reacg-gallery .slider__thumbs .swiper-slide .slider__thumb-content {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .reacg-gallery
    .slider__layout
    .slider__main-swiper--wrapper
    .slider__main-swiper
    .slider__slide_text-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
*/
/*TEMPLATE 7 Sinema Slider

width:no limit 1200 ;
HEIGHT no limit:600
autoplay:no;
loop:all;
padding:no

Text Main 
only title
font text:Raleway
text position all;
text color:white;
text bg color RGBA(16, 27, 34, 0.73);
show title:true; 2.9vw left


Thumbs
thumbs:false


Thumbs Text
none


NAV
navigatin:true;
type:angle;
position:cemter;
size:27;
padding:0;
opacity:1;
border:0;
border-radius:max;
color:rgba(255, 255, 255, 0.78);
bg color:transparent;
hover:true;
color:hover #ffffff;
bg color hover:transparent;



Pagination

pagination:true
type:defoult;
positon:bottom center;
no active
bg color :rgba(255, 255, 255, 0.53);
size:10;
border-radius:max;
active
bg color :#ffffff;
size:10;
border-radius:max;



direction:all
animation :all(fade,slide);
keyboard true;
Mausewell:false

slides desing all;
slideDuration:2000

progres:false;

shadow:true;
type:sinema



.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide-text-container {
  padding: 50px;
  background-color: unset;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide-text-container
  .slider__slide_text-wrapper
  p
  span {
  background-color: var(--slider__slide-text-bg-color);
  padding: 6px 15px 6px 15px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide-text-container
  .slider__slide_text-wrapper
  p {
  font-weight: 400 !important;
}
.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper.swiper-fade
  .slider__slide_text-wrapper[data-swiper-parallax] {
  transform: none !important;
  transition: none !important;
}
@media screen and (max-width: 768px) {
  .reacg-gallery
    .slider__layout
    .slider__main-swiper--wrapper
    .slider__main-swiper
    .slider__slide-text-container {
    padding: 30px;
  }
}
*/
/* TEMPLATE 8 Product Slider 2 outside navigation 

width:no limit 1200 ;
HEIGHT no limit:600
autoplay:no;
loop:all;
padding:no

Text Main 
title:1.7vw left;
description:0.2vw max row:2 color #a8d7f3
caption:2.4vw  color #a8d7f3
button:text - BUY NOW alignment - center;text color - #000000;bg color - #e9f0f5
font text:Monsterrat
text position bottom;
text color:#ffffff;
text bg color rgba(6, 11, 0, 0.73);
show title:true; 2.9vw left


Thumbs
thumbs:false


Thumbs Text
none


NAV
navigatin:true;
type:angle;
position:out-top-left;
size:27;
padding:13;
opacity:1;
border:0;
border-radius:3;
color:#000000;
bg color:#e9f0f5;
hover:true;
color:hover #e9f0f5;
bg color hover:#000000;



Pagination

pagination:true
type:defoult;
positon:outisde bottom;
no active
bg color :#000000;
size:8;
border:2
border-color:rgba(0, 0, 0, 0)
border-radius:max;
active
bg color :#e9f0f5;
size:8;
border:2
border-color:#000000
border-radius:max;



direction:all
animation :all(fade,slide) without shadow with shadow only slide and fade;
keyboard true;
Mausewell:false

slides desing all--maybe not fit;
slideDuration:1000

progres:false;

shadow:true??;
type:sinema




.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper.swiper {
  width: calc(100% - var(--slider__template-total) - 20px);
  margin: auto;
  transition: all 0.3s;
}
.reacg-gallery .slider__navigation > div {
  margin-right: 0;
  margin-left: 0;
}

.reacg-gallery .slider__layout .slider__navigation--out-top-left {
  position: absolute;
  justify-content: space-between;
  width: 100%;
  top: calc(
    50% - 15px -
      (
        max(
            var(--slider-pagination-bullet-size, 8px),
            var(--slider-pagination-active-bullet-size, 8px)
          ) +
          max(
            var(--slider-pagination-bullet-border, 2px),
            var(--slider-pagination-active-bullet-border, 2px)
          )
      ) / 2
  );
}

.reacg-gallery .slider__layout .slider__navigation--out-top-left div {
  transform: translateY(-50%);
}
.reacg-gallery .slider__layout {
  position: relative;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide-text-container {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    var(--slider__slide-text-bg-color) 100%
  );
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide_text-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 20px !important;
  row-gap: 0 !important;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide-description {
  order: 1;
  width: 100%;
  margin-bottom: -4px !important;
  font-weight: 600 !important;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide-title {
  order: 2;
  align-items: end;
  align-self: end;
  justify-content: space-between;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  font-weight: 300 !important;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide-button {
  order: 3;
  margin-left: auto;
  font-weight: 600 !important;
  border: 1px solid #ffffff;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide-button:hover {
  background-color: transparent !important;
  color: #ffffff !important;
}

.reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper.swiper-fade
  .slider__slide_text-wrapper[data-swiper-parallax] {
  transform: none !important;
  transition: none !important;
}
@media screen and (max-width: 768px) {
  .reacg-gallery
    .slider__layout
    .slider__main-swiper--wrapper
    .slider__main-swiper.swiper {
    width: 100%;
  }
  .reacg-gallery .slider__layout .slider__navigation > div {
    display: none;
  }
  .reacg-gallery
    .slider__layout
    .slider__main-swiper--wrapper
    .slider__main-swiper
    .slider__slide-description {
    width: auto;
    text-align: center !important;
  }
  .reacg-gallery
    .slider__layout
    .slider__main-swiper--wrapper
    .slider__main-swiper
    .slider__slide-title {
    text-align: center !important;
    align-self: center;
    white-space: initial !important;
  }
  .reacg-gallery
    .slider__layout
    .slider__main-swiper--wrapper
    .slider__main-swiper
    .slider__slide_text-wrapper {
    row-gap: 10px !important;
    flex-direction: column !important;
  }
}
*/
/* TEMPLATE 8 Blur Attractive Slider for posts*/
/* .reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  img {
  max-width: 80%;
  max-height: 85%;
  object-fit: none !important;
} */
/* .reacg-gallery
  .slider__layout
  .slider__main-swiper--wrapper
  .slider__main-swiper
  .slider__slide-content {
  padding: calc(var(--slider__slide-padding) * 0.1) var(--slider__slide-padding);
} */
/* TEMPLATE 8 Blur Attractive Slider for posts*/
